<footer>
    <div class="footer-content">
      <div class="contact-info">
        <p>Dirección: Calle Falsa 123, Buenos Aires, Argentina</p>
        <p>Teléfono: +54 9 123 456 789</p>
        <p>Email: {{"contacto@ejemplo.com"}}</p>
   </div>
      <div class="newsletter">
        <h3>Suscríbete a nuestro Newsletter</h3>
        <form>
          <input type="email" placeholder="Tu correo electrónico">
          <button type="submit">Suscribirse</button>
        </form>
      </div>
      <div class="footer-navigation">
        <a href="/about">Acerca de</a>
        <a href="/contact">Contacto</a>
        <a href="/blog">Blog</a>
      </div>
      <p>&copy; 2024 nft saraza. Todos los derechos reservados.</p>
    </div>
  </footer>
  