<div class="main-container">
  <div class="hero-model-container">
    <div class="hero">
      <h2>0/ 456 Minted</h2>
      <h1>
        Dsicover & Colletc <br />
        NTF Artwork
      </h1>
      <div class="btn-container">
        <button>Mint Now</button>
        <button>Join The Waitlist</button>
      </div>
      <h3>
        Max 3 NFT Per WAllet. Price <span>0.002</span> ETH<br />
        Mint is Live Until <span>22 July</span>
      </h3>
    </div>
    <div class="model-container">
      <app-three-model></app-three-model>
    </div>
  </div>
  <app-cardlist></app-cardlist>
</div>
